:root {
  --white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
  --pink: hsl(322, 100%, 66%);
  --lt-pink: hsl(321, 100%, 78%);
  --lt-red: hsl(0, 100%, 63%);
  --very-dk-cyan: hsl(192, 100%, 9%);
  --very-pl-blue: hsl(207, 100%, 98%);
}