@use '../util' as *;

.engagement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(90);
  margin-bottom: rem(150);

  @include breakpoint(medium) {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: rem(200);
  }

  @include breakpoint(large) {
    margin-bottom: rem(300);
  }

  &__card {
    width: fit-content;
  }

  &__icon {
    display: block;
    margin-bottom: rem(10);
  }

  &__number {
    margin-bottom: rem(5);
    font-family: var(--font-heading);
    font-size: rem(60);
    font-weight: 700;

    @include breakpoint(medium) {
      font-size: rem(80);
    }

    @include breakpoint(large) {
      font-size: rem(100);
    }
  }

  &__label {
    color: hsl(0, 0%, 57%);
  }
}