@use '../util' as *;

footer {
  background-color: var(--very-dk-cyan);
}

.footer-bg {
  width: 100%;
  height: rem(70);
  background-color: var(--very-dk-cyan);
  -webkit-mask-image: url('../images/bg-footer-top-mobile.svg');
  mask-image: url('../images/bg-footer-top-mobile.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; 
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;

  @include breakpoint(medium) {
    height: rem(125);
    width: 100%;
    -webkit-mask-image: url('../images/bg-footer-top-desktop.svg');
    mask-image: url('../images/bg-footer-top-desktop.svg');
  }

  @include breakpoint(large) {
    height: rem(170);
    width: 100%;
  }
}

.footer {
  padding-top: rem(80);
  padding-bottom: rem(50);
  gap: rem(80);
  color: var(--white);
  font-weight: 600;
  text-align: left;

  &__logo {
    display: inline-block;
  }

  &__header {
    font-family: var(--font-heading);
    font-size: rem(20);
    text-transform: uppercase;
  }

  &__content {
    margin-bottom: rem(30);
    line-height: 1.8;
  }

  &-form {
    gap: rem(10);

    @include breakpoint(large) {
      flex-direction: row;
      gap: rem(30);
    }
  }

  &__label {
    display: none;
  }

  &__email {
    border-radius: rem(5);
    border: none;
    padding: rem(15);
    font-size: 1rem;

    @include breakpoint(large) {
      flex: 2;
    }
  }

  &__submit {
    color: var(--white);
    background-color: var(--pink);
    border-radius: rem(5);
    border: none;
    padding: rem(15);
    font-size: 1rem;
    font-weight: 400;
    transition: background-color 300ms ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: var(--lt-pink);
    }

    @include breakpoint(large) {
      flex: 1;
    }
  }
  
  @include breakpoint(medium) {
    flex-direction: row;
    gap: rem(100);

    &-item1 {
      order: 2;
    }

    &-item2 {
      order: 1;
    }
  }

  &__phonenum {
    display: block;
    margin-bottom: rem(10);

    &::before {
      content: url('../images/icon-phone.svg');
      margin-right: rem(20);
    }
  }

  &__emailadd {
    display: block;
    margin-bottom: rem(30);

    &::before {
      content: url('../images/icon-email.svg');
      margin-right: rem(20);
    }
  }

  &__links {
    display: inline-block;
    font-size: rem(30);
    color: var(--white);
    
    &:not(:last-child) {
      margin-right: rem(15);
    }
  }

}