@use '../util' as *;

.main {

  > * {
    margin-bottom: rem(80);

    @include breakpoint(medium) {
      margin-bottom: rem(90);
    }

    @include breakpoint(large) {
      margin-bottom: rem(100);
    }
  }
}